    <div class="card">
      <form [formGroup]="myForm">
        <label for="rate">Choose option: </label>
        <select
          id="rate"
          (change)="onSubmit()"
          formControlName="rate"
          type="number"
        >
          <option value="1">1</option>
          <option value="1.5">1.5</option>
          <option value="2">2</option>
          <option value="2.5">2.5</option>
          <option value="3">3</option>
          <option value="3.5">3.5</option>
          <option value="4">4</option>
          <option value="4.5">4.5</option>
          <option value="5">5</option>
        </select>
      </form>
      <div class="stars-container">
        <ng-container *ngFor="let star of stars">
          <span [class]="star"></span>
        </ng-container>
      </div>
    </div>
